/* =============================================================================
 * {{NSF_FILENAME}}
 * Description : {{NSF_DESCRIPTION}}
 * Author      : {{NSF_AUTHOR}}
 * Date        : {{NSF_DATE}}
 * License     : {{NSF_LICENSE}}
 * =========================================================================== */

#include <stdio.h>
#include <stdlib.h>
#include <string.h>

/* -----------------------------------------------------------------------------
 * Constants
 * --------------------------------------------------------------------------- */
#define PROGRAM_NAME "{{NSF_BASENAME}}"

/* -----------------------------------------------------------------------------
 * Function prototypes
 * --------------------------------------------------------------------------- */
static int run(int argc, char *argv[]);

/* -----------------------------------------------------------------------------
 * Main logic
 * --------------------------------------------------------------------------- */
static int run(int argc, char *argv[])
{
    (void)argc;
    (void)argv;

    printf("Starting %s\n", PROGRAM_NAME);

    /* Your code here */

    printf("Done\n");
    return EXIT_SUCCESS;
}

/* -----------------------------------------------------------------------------
 * Entry
 * --------------------------------------------------------------------------- */
int main(int argc, char *argv[])
{
    return run(argc, argv);
}
