// =============================================================================
// {{NSF_FILENAME}}
// Description : {{NSF_DESCRIPTION}}
// Author      : {{NSF_AUTHOR}}
// Date        : {{NSF_DATE}}
// License     : {{NSF_LICENSE}}
// =============================================================================

package main

import (
	"fmt"
	"log"
	"os"
)

// -----------------------------------------------------------------------------
// Main logic
// -----------------------------------------------------------------------------
func run() error {
	fmt.Println("Starting {{NSF_BASENAME}}")

	// Your code here

	fmt.Println("Done")
	return nil
}

// -----------------------------------------------------------------------------
// Entry
// -----------------------------------------------------------------------------
func main() {
	log.SetFlags(0)
	log.SetPrefix("[ERROR] ")

	if err := run(); err != nil {
		log.Println(err)
		os.Exit(1)
	}
}
