// =============================================================================
// {{NSF_FILENAME}}
// Description : {{NSF_DESCRIPTION}}
// Author      : {{NSF_AUTHOR}}
// Date        : {{NSF_DATE}}
// License     : {{NSF_LICENSE}}
// =============================================================================

'use strict';

// -----------------------------------------------------------------------------
// Main logic
// -----------------------------------------------------------------------------
async function main() {
    try {
        console.log('Starting {{NSF_BASENAME}}');

        // Your code here

        console.log('Done');
    } catch (error) {
        console.error('[ERROR]', error.message);
        process.exit(1);
    }
}

// -----------------------------------------------------------------------------
// Entry
// -----------------------------------------------------------------------------
main();
